.area4 {
  display: grid;
  grid-template-columns: 450px 1fr;
  background-color: #e8e9ee;
}

.area4--content {
  padding: 170px 80px;
}

.area4--text {
  margin-bottom: 50px;
  line-height: 25px;
}

.area4--img1 {
  background-image: url("/assets/images/bg3.jpg");
  background-position: left;
}

@media (max-width: 426px) {
  .area4 {
    grid-template-columns: 1fr;
  }

  .area4--content {
    padding: 40px;
  }
}
