header .line {
  background-color: var(--primary-color);
  height: 10px;
}

.header--area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header--left img {
  width: 64px;
  height: 64px;
}

.header--rigth {
  display: flex;
  align-items: center;
}

.header--search form {
  display: flex;
}

.header--search input {
  font: 16px;
  padding: 8px 14px;
  border: 1px solid var(--secondary-color);
  outline: 0;
  width: 100%;
  max-width: 220px;
}

.header--search button {
  border: 0;
  background: transparent;
  margin-left: -25px;
  cursor: pointer;
}

.header--search img {
  width: 16px;
  height: 16px;
}

.header--menu {
  margin-left: 40px;
  cursor: pointer;
}

.header--menu img {
  width: 24px;
  height: 24px;
}

@media (max-width: 426px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header--menu {
    margin-left: 20px;
  }

  .header--search input {
    max-width: 140px;
  }
}
